@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-image: url("../images/banner/banner1.png");
    width: 100%;
    height: 600px;
    background-size: cover;
}

.head-container{
    width:86%;
    padding: 180px 0 0 800px;
}

.head-container h4{
    color:  #151414;
    text-align: right;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.head-container p{
    color:  #444343;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.btn-primary{
    background: #F15B22;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 5px;
    color:white;
    text-align: right;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    float: right;
}
/* ====================header end================= */

main{
    background-color: #FFF;
}

.container{
    width:85%;
    margin: 120px auto;
}

.container-sectionone{
    display: flex;
    align-items: center;
    gap:60px
}

.container .img-section img{
    width:600px;
    height: 700px;
}

.container-section{
    padding-right: 100px;
}

.container-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.container-detail{
    color:  #444343;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.container-ul li{
   list-style-type:square;
   font-size: 18px;
   font-weight: 400;
   color: #444343;
}

/* ============================plan section===================== */
.plan-title{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-design{
    display: flex;
    gap:15px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px;
}
.box-1{
    width : 330px;
    text-align: center;
    padding: 25px;
    border: 1px solid #f0e1e1;
    box-shadow: 3px 3px 7px  #f0e1e1;
}


.box-title{
    color:  #151414;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px;
}

.box-description{
    color:  #737272;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

